#root {
  display: flex;
  flex-direction: row;
}
#devices {
  flex-basis: 1px;
  flex-grow: 1;
}
#stats {
  flex-basis: 1px;
  flex-grow: 1;
}
#messages {
  flex-basis: 1px;
  flex-grow: 1;

  .message-header {
    font-weight: bold;
    display: grid;
    grid-template-columns: 110px 200px 1fr;
  }
  .messages-container {
    display: flex;
    flex-direction: column;
    .message {
      font-family: monospace;
      display: grid;
      animation: fade-in 5s ease;
      grid-template-columns: 110px 200px 1fr;
      &.sx {
        //1background-color: #c3ffb8;
      }
    }
  }
}


@keyframes fade-in {
  0% {
    background-color: #8fff8b;

  }
  100% {
    background-color: #ffffff;
  }
}
